.containerfooter {
  width: 100%;
  height: 15%;
  margin: auto;
  border-top:0.1vh solid gray;
background: #0F1D65;
  background-size: cover;
}
.paragraph{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.link-footer i {
  margin-left: 0.7vh;
  font-size: 2.5vh;
  color: white;

}
.link-footer{
  margin-right: 2vh;
  display: flex;
  justify-content: flex-end;
}

.link-footer i:hover{
  background-color: #0F1D65;
  color: #1e86ef;
}
.text-cont {
  width: 60vh;
  color: white;
}
.containerfooter h1 {
  color: white;
  text-align: center;
  font-size: 2.5vh;
  margin-top: 2vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.text-cont a {
  color: white;
  font-size: 1.8vh;
  line-height: 2.8vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
