.containerhead {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 9%;
  border-bottom: 0.1vh solid gray;
  background-color: #d2e4ff;
}
.img {
  margin-top: 3.5vh;
  height: 7.5vh;
  width: 36.85vh;
}
.link-cont {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 70%;
}
.link-cont i {
  margin-top: 3.3vh;
  margin-left: 0.7vh;
  text-align: right;
  font-size: 2.5vh;
  color: #0F1D65;
}
.link-cont i:hover{
  background-color: #d2e4ff;
  color: white;
}
.text-cont-head h1 {
  margin: auto;
  margin-top: 5.3vh;
  font-size: 5.5vh;
  color: #0F1D65;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
 * {
  margin:0;
  padding:0;
}